@import './config.scss';


.main-card {
    display: grid;    
    column-gap: 1rem;
    row-gap: 1rem;
    //grid-template-columns: 1fr;     
    justify-content: center;
}

.item {
    width: 200px;
    height: 260px;    
}  

.container {
    position: relative;
    height: 100%;
    width: 100%;
    perspective: 1200px;
    margin-bottom: 2px; 
    
}

.front {    
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;    
    transition: all .6s;
    backface-visibility: hidden;    
    background-color: rgb(233, 233, 233);    
    //border: 3px solid rgb(29, 61, 97);

    .img-container {         
        z-index: 2;
        height: 80%;  
        top: 0;  
        text-align: left;

        img {
            border-radius: 8px 8px 0px 0px;        
            opacity: 0.6;
            position: relative;
            padding: 0;    
            height: 80%;
            width: 100%;
            //border: 1px lighten($primary-color, 20) solid;
        }
    }    

    .card-text {
        color: #fff;
        position: relative;   
        top: -9rem;   

        p {    
            font-size: 25px;
            font-weight: bolder;
            margin-bottom: 2rem;
            padding-left: 0.8rem;
            text-shadow: 3px 3px 3px #000; 
        }

        span {
            font-size: 16px;
            font-weight: 500;
            color: #000;            
            position: relative;
            top: 0.8rem;
            padding: 1px 20px 2px 5px;
            background: rgb(152, 137, 221);	
            margin-left: 0px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

            clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);            
               
            //clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 0% 100%);
            //clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 5% 50%, 0% 0%);
            //clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 75% 50%, 60% 100%, 60% 80%, 0% 80%);
        }
    }

    .text-container {
        color: #000;    
        margin-top: -2.8rem;
        padding: 10px 8px 8px 8px;         
        
        p {
            font-size: 13px;
            font-weight: 400;
            text-align: left;
        }
    }   
    
}

.back {
    background: url(../images/js-icon.png);
    background-position: center;
    background-size: cover;   
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    background-color: #ccc;
    transform: rotateY(-180deg);
    transition: all .6s;
    font-size: 14px;
    color: #000;
    padding: 0px 0px 10px 0px;
    //border: 1px $secondary-color solid; 
    align-items: center;

    .text-back {
        position: relative;
        background: rgba(255, 255, 255, 1);    
        padding: 10px 10px 0px 10px;        
        height: 175px;
        overflow: hidden;
        border-radius: 8px 8px 0px 0px;       
        text-align: left;       
        margin: 5px;
    }

    //Project buttons
    .btn {
        display: block;
        padding: 0.1rem 0.5rem;
        border: 0;
        margin-bottom: 0.1rem;
        font-size: 14px;
        width: 100%;
        border-radius: 8px;      
    }  

    .btn-back {
        position: absolute;       
        width: 180px;
        top: 195px;     
        
        .btn-dark {
            @extend .btn;
            background: #000;
            color: #fff;    

            &:hover {
                // background: $secondary-color;
                color: #000;
            }                
        }
        
        .btn-light {
            @extend .btn;
            background: #fff;
            color: #000;       
            
            &:hover {
                // background: $secondary-color;
                color: #fff;
            }
        }
    }    
}


.front, .back {
    display: flex;    
    //align-items: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 4px 2px 10px #000;
}

.container:hover .front {
    transform: rotateY(180deg);
}

.container:hover .back {
    transform: rotateY(0);
}