@import './home-style.scss';
@import './header-style.scss';
@import './about-style.scss';
@import './config.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: open-'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    line-height: 1.5;   
}

body {
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;    
}

.text-secondary {
    color: $secondary-color;
}

// Home icons
.icons {
    margin-top: 1rem;
    font-size: 20px;    
    
    a {
        padding: 0.4rem;

        &:hover {    
            color: $secondary-color;
            @include easeOut;
        }
    }
}

// portrait menu-brand
.menu-brand {
    .portrait {
        width: 250px;
        height: 250px;        
        background-position: center;
        border-radius: 50%;
        border: solid 3px $secondary-color;
    }
}

// Menu item 
.nav-link {        
    color: set-text-color($primary-color);
        
    &:hover {
        color: lighten($secondary-color, 10);
    }

    &.active {
        color: $secondary-color;
    }
}

//About - Bio image
.bio-image {   
    border: $secondary-color 3px solid;
}

// Timeline
.timeline-body {
    &:after {        
        background-color: $secondary-color;
    }

    .timeline-item {
        &:after {            
            border: 3px solid $secondary-color;
        }
    }
}

// Job board
.job {
    border-bottom: $secondary-color 5px solid;
}