@import './home-style.scss';
@import './header-style.scss';
@import './about-style.scss';
@import './config.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    //font-family: open-'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    line-height: 1.5;   

    ::-webkit-scrollbar {
        width: 12px;
    }
     
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(#000, 0.3); 
        border-radius: 10px;
    }
         
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(#000, 0.3); 
    }
}


body {
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;    
}


.text-secondary {   
    color: $secondary-color; 

    &.blue {
        color: #2876f8;
    }
    &.green {
        color: #4ae54a;
    }
    &.orange {
        color: #ff7400;
    }
    &.pink {
        color: #ff5f5f;
    }
    &.yellow {
        color: #eece1a;
    }
}

// Home icons
.icons {
    margin-top: 1rem;
    font-size: 20px;    
    
    a {
        padding: 0.4rem;

        &:hover {    
            color: $secondary-color;
            @include easeOut;
        }
    }
}

// portrait menu-brand
.menu-brand {
    .portrait {
        width: 250px;
        height: 250px;        
        background-position: center;
        border-radius: 50%;
        border: solid 3px $secondary-color;
    }
}

// Menu item 
.nav-link {        
    color: set-text-color($primary-color);
        
    &:hover {
        color: lighten($secondary-color, 10);
    }

    &.active {
        color: $secondary-color;
    }
}

//About - Bio image
.bio-image {   
    //border: $secondary-color 3px solid;
    border: #4ae54a 3px solid;
}

// Timeline
.timeline-body {
    &:after {        
        //background-color: $secondary-color;
        background-color: #4ae54a;
    }

    .timeline-item {
        &:after {            
            //border: 3px solid $secondary-color;
            border: #4ae54a 3px solid;
        }
    }
}

// Job board
.job {
    //border-bottom: $secondary-color 5px solid;
    border-bottom: #4ae54a 5px solid;
}

// Work cards
.front .card-text span {
    background: rgb(152, 137, 221);	
}



// Contact form
.main-form .container-form {

    .row100 .inputBox .line{
		background: $secondary-color; //rgba($secondary-color, 0.5);		 
	}
	
	.row100 .inputBox input:focus ~ .line,
	.row100 .inputBox input:valid ~ .line {
        height: 100%;
        border: 1px solid $secondary-color; //rgba($secondary-color, 0.5);
        background-color: transparent; // rgba($secondary-color, 0.1);
	}
	
	.row100 .inputBox textarea:focus ~ .line,
	.row100 .inputBox textarea:valid ~ .line {
		height: 100%;
        border: 1px solid $secondary-color; //rgba($secondary-color, 0.5);
        background-color: transparent; // rgba($secondary-color, 0.1);
    }	
}



